.container {
    display: flex;
    flex-direction: column;
    align-self: center
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 520px
}

.form button {
    width: 300px;
}
